.nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	font-weight: 600;
	color: #451e94;
}
